.modalWrap {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  alitn-items: center;
  justify-content: center;
  z-index: 1;
}
