.main {
  width: 100%;
}

.visualSection {
  height: 820px;
}

.gameList {
  height: 820px;
}

.mafiaImage {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  background: url("../../assets/images/mafia_visual.avif") center center/cover no-repeat;
  justify-content: center;
}

.roomSectionWrap {
  max-width: var(--max-width);
  margin: 0 auto;
}

.roomSection {
  padding: 0 30px 154px;
}

.roomSearchAndButton {
  display: flex;
}

.roomSearch {
  position: relative;
}

.roomSearch input {
  padding: 10px 40px 10px 25px;
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  width: 357px;
}

.roomSearch:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  background: url("../../assets/images/icon_search.svg") no-repeat;
  cursor: pointer;
}

.roomSearch label {
  display: none;
}

.roomSearch input[type="text"]:placeholder {
  color: var(--silver-gray);
}

.roomSearch input[type="text"]:focus {
  outline: 1px solid var(--primary-color);
  opacity: 0.5;
}

.MainGnb {
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
}

.MainGnb p {
  font-weight: var(--font-bold);
}

.gameTitle {
  position: absolute;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
  min-width: var(--max-width);
}

.gameTitle h2 {
  position: relative;
  z-index: 1;
}

.gameButton {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.gameButton button {
  padding: 12px 24px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  color: var(--text-black);
  font-weight: var(--font-bold);
}

.gameButton button.mafiaInfo {
  background-color: var(--primary-color);
  color: var(--white);
  position: relative;
  padding-left: 50px;
  font-weight: 400;
}

.gameButton button.mafiaInfo:before {
  content: "";
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-51%);
  background: url("../../assets/images/icon_point.svg") no-repeat;
  width: 20px;
  height: 21px;
}

.gameGoButton {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 40px;
}

.gameGoButton button {
  padding: 10px 15px 9px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--white);
  border: 1px solid var(--primary-color);
}

.gameGoButton > button {
  color: var(--primary-color);
  background-color: var(--white);
  border: 1px solid var(--primary-color);
}

.gameGoButton button.makeRoom {
  padding-left: 35px;
  position: relative;
}

.gameGoButton button.makeRoom:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../assets/images/icon_plus.svg") no-repeat;
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-48%);
}

.roomList {
  display: flex;
  gap: 125px;
  flex-wrap: wrap;
  height: 500px;
}

.roomList li {
  width: 370px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
}

.roomList .gotoButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 48px;
  border-radius: var(--border-radius);
  line-height: 48px;
  cursor: pointer;
  background-color: var(--white);
  z-index: 1;
  display: none;
}

.roomList li::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  display: none;
  border-radius: var(--border-radius);
}

.roomList li:hover .gotoButton,
.roomList li:hover::after {
  display: block;
}

.roomTitle {
  padding: 20px 15px;
}

.roomTitle h3 {
  font-size: var(--font-size-title);
  margin-bottom: 28px;
  font-weight: var(--font-bold);
}

.gameName {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  color: var(--white);
}

.gameName p {
  border-radius: 30px;
  padding: 5px 12px;
}

.mafiaHashtag {
  background-color: var(--text-black);
}

.currentPeople {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

/*---------------- Responsive --------------*/
@media (max-width: 1920px) {
  .gameTitle {
    min-width: 100%;
  }
}

@media (max-width: 860px) {
  .roomList {
    justify-content: center;
  }

  .MainGnb {
    flex-wrap: wrap;
  }

  .MainGnb p {
    width: 100%;
    margin-bottom: 15px;
  }

  .roomSearchAndButton {
    display: block;
    width: 100%;
  }

  .roomSearch input {
    width: 100%;
  }

  .gameGoButton {
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
  }

  .gameGoButton > button {
    width: 50%;
  }

  .gameGoButton > .makeRoomButton {
    width: 50%;
  }

  .gameGoButton button.makeRoom {
    width: 100%;
  }
}
