.swiper-pagination-fraction {
  position: absolute;
  left: 85%;
  top: 30px;
  width: 80px;
  height: 35px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.swiper-pagination-fraction > span {
  color: var(--text-black);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color);
  margin: 0 10px;
  font-weight: var(--font-bold);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--secondary-color);
}

.swiper-slide-active {
  z-index: 1;
}
