.section {
  display: flex;
  height: 100vh;
  position: relative;
}

.localParticipant {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: var(--white);
  padding: 0 30px;
}

.localParticipant h2 {
  font-size: var(--font-size-modal-content);
  border: 1px solid var(--silver-gray);
  padding: 5px 50px;
  border-radius: 100px;
  color: var(--text-black);
  white-space: nowrap;
}

.localParticipant button {
  font-size: var(--font-size-modal-title);
  background-color: var(--silver-gray);
  padding: 15px 100px;
  border-radius: 100px;
}

.participantOverlay {
  position: relative;
}

.localCam {
  cursor: pointer;
}

.imageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 1;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: none;
}

.imageOverlay > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.remoteParticipant {
  flex: 2;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.remoteParticipantOverlay {
  position: relative;
  width: 32.5%;
  height: 30%;
}

.remoteParticipantOverlay > .remoteCam {
  width: 100%;
  height: 100%;
}

.remoteOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: none;
}

.remoteOverlay > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.remoteParticipantOverlay.active .remoteOverlay,
.participantOverlay.active .imageOverlay {
  display: block;
}

.goToMainPage {
  position: absolute;
  color: var(--text-black);
  left: 30px;
  top: 15px;
  font-weight: var(--font-bold);
}

/*-------------- ToolTipIcon ----------------*/
.toolTipWrap {
  position: absolute;
  left: 30px;
  bottom: 35px;
  color: var(--text-black);
  cursor: pointer;
}

.toolTipWrap li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toolTipWrap li p {
  display: none;
}

.toolTipWrap li:hover p {
  display: block;
}

/*-------------- Setting page ----------------*/
.settingWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-black);
  flex-direction: column;
}

.settingWrapper > h2 {
  margin-bottom: 25px;
  font-size: var(--font-size-title);
  font-weight: var(--font-bold);
}

.settingCam {
  position: relative;
  width: 450px;
}

.lk-prejoin .lk-username-container {
  display: none;
}

.settingUserButton li {
  position: absolute;
  border-radius: 8px 0 0 8px;
  white-space: nowrap;
  width: 35.5%;
  text-align: center;
  padding: 10px 0px;
  background-color: #373737;
  bottom: 138px;
}

.settingUserButton li:nth-child(1) {
  left: 16px;
}

.settingUserButton li:nth-child(2) {
  right: 56px;
}

.cover {
  position: absolute;
  background-color: var(--text-black);
  bottom: 76px;
  width: 100%;
  height: 50px;
  user-select: none;
}

.settingJoinButton {
  margin: 0 16px;
}

.settingJoinButton > button {
  position: absolute;
  bottom: 16px;
  width: 93%;
  background-color: var(--primary-color);
  padding: 10px 0;
  text-align: center;
  border-radius: var(--border-radius);
}

/*-------------- Respansive ----------------*/
@media (max-width: 1430px) {
  .remoteCam {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .settingUserButton li {
    width: 81.5%;
  }

  .settingUserButton li:nth-child(1) {
    left: 16px;
    bottom: 198px;
  }

  .settingUserButton li:nth-child(2) {
    left: 16px;
  }
}
