.infoWrapper {
  padding: 50px 30px 108px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.infoWrapper h2 {
  font-size: var(--font-size-title);
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

.infoWrapper h3 {
  font-weight: var(--font-bold);
  margin: 50px 0 5px;
}

.infoWrapper span {
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.rolesCardImage {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.rolesCardImage > img {
  width: 200px;
}
