.infoWrapper {
  padding: 50px 30px 108px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.infoWrapper h2 {
  font-size: var(--font-size-title);
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

.infoWrapper h3 {
  font-weight: var(--font-bold);
  margin: 50px 0 5px;
}

.infoWrapper span {
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.victory,
.rolesCardImage,
.mafiaTimeImage {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}
.mafiaTimeImage > img,
.rolesCardImage > img {
  width: 200px;
}

.mafiaGameImage > img,
.victory > img,
.morningModal > img,
.finalImage > img,
.voteImage > img {
  border: 1px solid var(--silver-gray);
  border-radius: var(--border-radius);
  margin-top: 20px;
  width: 450px;
}

.choosingImage > img {
  margin-top: 20px;
  width: 500px;
}

.victory > img {
  width: 300px;
  margin-top: 0;
}

.mafiaGameImage > img {
  width: 300px;
}

/*---------------- Framer Motion --------------*/
.progressBar {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--primary-color);
  transform-origin: 0%;
}

.infoTitle {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  background-color: var(--header-background-color);
}

.parallax {
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  color: var(--white);
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

/*---------------- Responsive --------------*/
@media (max-width: 900px) {
  .victory,
  .rolesCardImage,
  .mafiaTimeImage {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .infoWrapper {
    padding: 108px 20px;
  }

  .progressBar {
    top: 69px;
  }

  .parallax .scroller {
    font-size: 32px;
    transition: 0.3s ease-out;
  }
}
