/*-------------- HEADER ----------------*/
.headerWrap {
  background-color: #050b15;
}

.header {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 30px;
}

.ul {
  color: #fff;
  display: flex;
  gap: 20px;
}

/*-------------- HEADER ----------------*/
.footerWrap {
  background-color: #eee;
}

.footer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 21px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
